
$violet: #8D81AC;
$cursor: pointer;
$bggray: #F4F4F4;
$editor_title_color: #635C73;
$dark: #323232;
$white: #ffffff;
$services_text: #848E97;
$editor_btn: #c9d1d954;
$icon_bg: #a5a0a038;
$svg_color: #24292e;
$fw-bold:700;


