.forkApp{

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bg{
    background-image: url("../img/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



  }

  &__title{
padding-top: 30px;
    font-weight: 700;
    color: white;
    font-size: 48px;

  }

  &__middle{
    padding-top: 30px;
    font-size: 18px;
    color: $violet;

  }

  &__text{
    padding-top: 30px;
    font-size: 14px;
    color: #848E97;
  }

  &__button{
      background-color: #8d81ac;
      color: #ffffff;
      padding: 11px 40px;
      border-radius: 50px;
      border:none;
    font-size: 18px;
    margin-top: 350px;
    cursor: $cursor;

  }

  &__text-gray{
    color: #848E97;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
}


.container{
  @include container;
}

@media (min-width:481px ){
  .forkApp__button{
    padding: 11px 60px;

  }
}



@media (min-width:993px ){
  .forkApp__bg{
    background-image: url("../img/img3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

