

@mixin link{
  text-decoration: none;
}


@mixin Montserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin Lato {
  font-family: "Lato", sans-serif;
}

@mixin container{
  padding: 0 10px;
}

@mixin hoverButton {
  color: $violet;
  background: #FFFFFF;
}
@mixin container_1200 {
  max-width: 1200px;
  min-width: 993px;
  margin: 0 auto;
}
@mixin container_992 {
  max-width: 992px;
  min-width: 481px;
  margin: 0 auto;
}
@mixin container_480 {
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
}
@mixin flex($display, $wrap, $justify, $align) {
  display: $display;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}